<!--
  Generated template for the ViewPdfPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

	<pdf-viewer [zoom]="0.6" [src]="pdf2" [render-text]="true"></pdf-viewer>
	
 	<!--<div class="buttons">
	 	<ion-grid>
	 	  <ion-row>
		 	<ion-col col-4>
		      	<ion-fab left bottom>
				 <button ion-fab>
				   	<ion-icon class="prev" name="rewind"></ion-icon>
				 </button>

				</ion-fab >
		    </ion-col>
		    <ion-col col-4>
		       <ion-fab (click)="viewPDF();" center bottom>
				   <button  ion-fab>
				   		<ion-icon name="play"></ion-icon>
				   </button>
				</ion-fab>
		    </ion-col>
		    <ion-col col-4>
		      	<ion-fab right bottom>
				 	<button ion-fab>
				 		<ion-icon class="next" name="fastforward"></ion-icon>
				 	</button>
				</ion-fab>
		    </ion-col>
		  </ion-row>
		</ion-grid>
	</div> -->



<!--
	<object [data]="url2.url" type="application/pdf">
        <embed [src]="url2.url" type="application/pdf" />
	</object> 
<iframe no-padding id="frame" frameborder="0"  [src]="url2" ></iframe>

-->
	

</ion-content>
