
page-view-pdf {

	
	.toolbar-title{
		font-size: 16px!important;
	}
	ion-card {
		height: 432px!important;
	}
	iframe{
		margin: 0 auto!important;
		width: 100%;
		height: 100%!important;
	}

	.center-div{
		
		max-width: 300px!important;
		height: 100px!important;
		/*background-color: #ccc;*/
		z-index: 999;

		ion-fab{
			max-width: 200px!important;
			height: 100px!important;
			/*background-color: red;*/
			font-size: 4px;
			.prev, .next{font-size: 32px;}

		}

    }

    .animated {
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            
         }
         .animated-2 {
            -webkit-animation-duration: 0.2s;
            animation-duration: 0.2s;
            
         }
 			
 			@-webkit-keyframes fadeIn {
            0% {opacity: 0; font-color: black;}
            100% {opacity: 1; font-color:blue;}
         }
         
         @keyframes fadeIn {
            0% {opacity: 0; font-color: black;}
            100% {opacity: 1; font-color:blue;}
         }
         
         .fadeIn {
            -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
         }
}
