<!--
  Generated template for the ContactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <!--<ion-title>contact</ion-title> -->
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list>
		<ion-item>
			<h2>Contacto</h2>
		</ion-item>
	</ion-list>
	<ion-list>
		Universidad de los Hemisferios
		<br>
		Paseo de la Universidad Nro. 300 y Juan Díaz
		<br>
		(Urbanización Iñaquito Alto) C.P. 170527
		<br>
		Quito – Ecuador
	</ion-list>
	<ion-list>
		Juan Carlos Riofrío Martínez-Villalba
		<br>
		Doctor
		<br>
		Universidad de Los Hemisferios
	</ion-list>
	<ion-list>
		<b>Teléfono</b>
		<br>
		593-2-4014100
	</ion-list>	
	<ion-list>
		<a>jcriofrio@iushumani.org</a>
	</ion-list>

	<ion-list>
		<ion-item>
			<h2>Soporte</h2>
		</ion-item>
	</ion-list>
	<ion-list>
		Mario de la Cruz
	</ion-list>		
	<ion-list>
		<b>Teléfono</b>
		<br>
		593-2-4014100
	</ion-list>
	<ion-list>
		<a>mario7881.delacruz@gmail.com</a>
	</ion-list>


</ion-content>
