page-home {

	

	.segment-button.segment-activated{
			background: #750024!important;
	}
	.segment-ios{
		padding-right:42px;
	}
	.segment-md{
		ion-segment-button{
			padding-top:8px!important;
		}
	}

	ion-navbar ion-segment-button p{
		color: white!important;
	}

	.loading {
		margin: 18em auto!important;
		width: 100%;
		height: 100%!important;
		
	}
	 
	ion-card{
	 	border-radius: 12px!important;
	 	background: #f1f1f1!important;
	 	border: 1px solid #37546b!important;

	 	.iushumani-card {
	 		padding-top: 1px!important;
		 	display: flex;
		 	align-items: center;
	 	}

	 	ion-card-title{
	 		color: #37546b!important;
	 		font-size:12px!important;
	 		font-weight: bold!important;
	 	}

	 	p{
	 		font-size:10px!important;
	 		
	 	}
	 	.year{
	 		display: flex;
		 	align-items: flex-end;
	 	}

		.see-more button {
	 			padding: 14px!important;
	 			border-radius: 2px!important;
	 		}
	 	.see-more h5:active, button:focus{
	 		background:#750024!important;
	 		color: white;
	 	}


	}
	

/*----------------------- Borswer Styles ------------------------*/
	
	.search-text{
	  	background: white;
	  	top: 95px;
	  	width: 95%;
	  	z-index: 2;
 	}

  	.animated {
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            
    }
    .animated-2 {
        -webkit-animation-duration: 0.2s;
        animation-duration: 0.2s;
            
    }
 			
 	@-webkit-keyframes fadeIn {
        0% {opacity: 0; font-color: black;}
            100% {opacity: 1; font-color:blue;}
    }
         
    @keyframes fadeIn {
        0% {opacity: 0; font-color: black;}
        100% {opacity: 1; font-color:blue;}
    }
         
    .fadeIn {
       -webkit-animation-name: fadeIn;
       animation-name: fadeIn;
    }

}
