<!--
  Generated template for the HelpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <!--<ion-title>Ayuda</ion-title>-->
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list>
		<ion-item>
			<h2 color="primary">Ayuda</h2>
		</ion-item>
	</ion-list>
	<ion-list>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
		sed do eiusmod tempor incididunt ut labore et dolore
		magna aliqua. Ut enim ad minim veniam, quis nostrud
		exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in
		voluptate velit esse cillum dolore eu fugiat nulla pariatur.
		Excepteur sint occaecat cupidatat non proident, sunt in
		culpa qui officia deserunt mollit anim id est laborum </p>
	</ion-list>

</ion-content>
