<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
       <button (click)="goToContact()"   menuClose ion-item >
        <img src="assets/custom-icons/Sin-título-8.png">
        Contacto
      </button>
      <button (click)="goToHelp()" menuClose ion-item >
        <img src="assets/custom-icons/ayuda.png">
        Ayuda
      </button>
      <button (click)="goToAbouUs()" menuClose ion-item >
        <img src="assets/custom-icons/quienessomos.png">
       ¿Quienes Somos?
      </button>
      <button menuClose ion-item >
        <img src="assets/custom-icons/ajustes.png">
        Ajustes
      </button>
      <button menuClose ion-item >
        <img src="assets/custom-icons/ejemplarfisico.png">
        Peticion de Ejemplar Físico
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>