// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-icon {
    &[class*="iushumani-"] {
        // Instead of using the font-based icons
        // We're applying SVG masks
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        color: white;
        background: currentColor;
        width: 1em;
        height: 1em;
    }
    // custom icons
     &[class*="logo"] {
        mask-image: url(../assets/custom-icons/logo2.png);
    }
    &[class*="news"] {
        mask-image: url(../assets/custom-icons/menu2.png);
    }
    &[class*="logo"] {
        mask-image: url(../assets/custom-icons/logo2.png);
    }
    &[class*="list"] {
        mask-image: url(../assets/custom-icons/menu3.png);
    }
    &[class*="search"] {
        mask-image: url(../assets/custom-icons/menu4.png);
    }
    &[class*="aboutus"] {
        mask-image: url(../assets/custom-icons/quienessomos.png);
    }
    &[class*="help"] {
        mask-image: url(../assets/custom-icons/ayuda.png);
    }

}

