<!--
  Generated template for the NewsDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	<ion-card no-padding>
		<ion-card-title padding>
			{{title | truncate : 50}}
		</ion-card-title>
		<ion-card-content>
			<p>{{descripcion | truncate : 150}}</p>
		</ion-card-content>
	</ion-card>

	<!--<iframe no-padding id="frame" frameborder="0"  src="assets/iushumani-vol-7.epub" ></iframe> 
	-->


	<!--<div class="center-div">
	 	<ion-grid>
	 	  <ion-row>
		 	<ion-col col-4>
		      	<ion-fab left bottom>
				 <button ion-fab>
				   	<ion-icon class="prev" name="rewind"></ion-icon>
				 </button>

				</ion-fab >
		    </ion-col>
		    <ion-col col-4>
		       <ion-fab center bottom>
				   <button ion-fab>
				   		<ion-icon name="play"></ion-icon>
				   </button>
				</ion-fab>
		    </ion-col>
		    <ion-col col-4>
		      	<ion-fab right bottom>
				 	<button ion-fab>
				 		<ion-icon class="next" name="fastforward"></ion-icon>
				 	</button>
				</ion-fab>
		    </ion-col>
		  </ion-row>
		</ion-grid>
	</div> -->

	<div *ngIf="book">
		<div id="book" ></div>
	</div>

</ion-content>
