page-news-details {

	.toolbar-title{
		font-size: 16px!important;
	}

	ion-card{
	 	border-radius: 12px!important;
	 	background: #f1f1f1!important;
	 	border: 1px solid #37546b!important;
	 	.iushumani-card {
	 		padding-top: 1px!important;
		 	display: flex;
		 	align-items: center;
	 	}
	 	ion-card-title{
	 		color: #37546b!important;
	 		font-size:14px!important;
	 		font-weight: bold!important;
	 		text-align: center;
	 	}
	 	p{
	 		font-size:12px!important;
	 		
	 	}
	 	.year{
	 		display: flex;
		 	align-items: flex-end;
	 	}
	}

	.center-div{
		margin: 0 auto!important;
		max-width: 300px!important;
		height: 100px!important;
		
		.prev, .next{font-size: 32px;}

    }
		ion-icon{
			text-align: center!important;

		}
	
}
