<!--
  Generated template for the RequestexamplerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>requestexampler</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	Quienes deseen recibir físicamente un ejemplar de
Ius Humani. Revista de derecho deberán solicitarlo
al mismo email, pagando los respectivos gastos del
ejemplar impreso y del envío (costo total en Ecuador
USD 35; en América USD 55 a América; en el resto
del mundo USD 75)

</ion-content>
