<ion-header>

  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button icon-only (tap)="toc($event)">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{pageTitle}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="settings($event)">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content color="primary"  no-bounce>
  <div id="touchlayer" (tap)="toggleToolbars()" (swipe)="changePage($event)"></div>
  <div padding id="book"></div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary" >
    <ion-buttons start>
      <button ion-button icon-only (tap)="prev()">
        <ion-icon name="arrow-dropleft-circle"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Page {{currentPage}} {{(book && book.pagination && book.pagination.totalPages) ? ' of ' + book.pagination.totalPages : ''}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="next()">
        <ion-icon name="arrow-dropright-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
