page-book {

#touchlayer, #book {
    width: 100%;
    height: 100%;
    }

    #touchlayer{
        z-index: 999;
        position: absolute
    }

    #book {
        z-index: 0;
    }

    #book iframe {
        border: none;
    }

    .scroll-content {
        overflow-y: hidden;
    }

}
