<!--
  Generated template for the AboutusPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <!--<ion-title>aboutus</ion-title>-->
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list>
		<ion-item>
			<h2>¿Quienes Somos?</h2>
		</ion-item>
	</ion-list>

	<ion-list>
			Ius Humani es una plataforma abierta a los estudios
		de los autores de todo el mundo, en todos los idiomas,
		donde se publican investigaciones originales sobre los
		derechos del ser humano (naturales, humanos o constitucionales)
		y sobre los procedimientos más efectivos
		para su protección, tanto desde la perspectiva filosófica,
		como la de la normativa superior del ordenamiento
		jurídico. En este sentido, la finalidad de Ius Humani es
		la difusión del conocimiento, la reflexión y el debate
		científico desde diversas perspectivas de análisis
		jurídico. Su carácter telemático y de consulta rápida
		en abierto ofrece la posibilidad de una mayor difusión
		de sus contenidos, que son accesibles a toda la comunidad
		científica y profesional de cualquier disciplina
		jurídica interesada en sus contenidos.
	</ion-list>

</ion-content>
